@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shadow-lg{
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.font-josefin{
    font-family: 'Josefin Sans', sans-serif;
}
.grey-color{
    background-color: oklch(0.274,0.006,286.033);
}
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bubble{
    @apply  text-xl hover:cursor-pointer text-white w-19 h-19 rounded-full flex [&:nth-child(4n)]:bg-orange-400 justify-center items-center;
}